/* Use a nice reset. */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6,label {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
button,input,select,textarea {
	margin: 0;
	font: inherit;
}
html {
	text-size-adjust: none; /* Fixes chrome on mobile. */
	font-size: 10px; /* 1.8 rem = 18px */
}

/* Custom for showcase. */
body {
	font-size: 2rem;
	padding: 1rem;
	background: #222;
	color: #CCC;
}
.active {
	background: hsl(345deg 100% 47%);
	transition: background 3s;
}
.inactive {
	background: grey;
	transition: background 3s;
}
body > div {
	color: #222;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}
button {
	cursor: pointer;
	color: #fff;
	padding: 2rem 3rem;
	margin: 2rem;
	border: none;
	background: hsl(345deg 100% 47%);
	border-bottom: 0.5rem solid hsl(345deg 100% 28%);
	border-radius: 12px;
	text-shadow: 0 2px #222222AA;
}
button:active {
	transform: translateY(0.2rem);
}
button.blue {
	background: hsl(200deg 100% 47%);
	border: none;
	border-bottom: 0.5rem solid hsl(200deg 100% 28%);
}
